[submodule "libs/Caliburn.Micro"]
	path = libs/Caliburn.Micro
	url = https://git01.codeplex.com/caliburnmicro
	branch = 1.x-maintenance
[submodule "libs/MahApps.Metro"]
	path = libs/MahApps.Metro
	url = https://github.com/MahApps/MahApps.Metro.git
[submodule "libs/Caliburn.Metro"]
	path = libs/Caliburn.Metro
	url = https://github.com/ziyasal/Caliburn.Metro.git
