[submodule "libs/Caliburn.Micro"]
	path = libs/Caliburn.Micro
	url = https://git01.codeplex.com/caliburnmicro
	branch = 1.x-maintenance
[submodule "libs/MahApps.Metro"]
	path = libs/MahApps.Metro
	url = https://github.com/MahApps/MahApps.Metro.git
[submodule "libs/Caliburn.Metro"]
	path = libs/Caliburn.Metro
	url = https://github.com/ziyasal/Caliburn.Metro.git
[submodule "libs/log4net"]
	path = libs/log4net
	url = https://github.com/apache/log4net.git
[submodule "libs/Castle.Core"]
	path = libs/Castle.Core
	url = https://github.com/castleproject/Core.git
[submodule "libs/Castle.Windsor"]
	path = libs/Castle.Windsor
	url = https://github.com/castleproject/Windsor.git
[submodule "libs/BDInfo"]
	path = libs/BDInfo
	url = https://github.com/UniqProject/BDInfo.git
[submodule "libs/SevenZipSharp"]
	path = libs/SevenZipSharp
	url = https://github.com/UniqProject/SevenZipSharp.git
[submodule "libs/DirectShowLib"]
	path = libs/DirectShowLib
	url = https://github.com/theonlylawislove/DirectShow.NET
