<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="VideoConvert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <VideoConvert.Properties.Settings>
            <setting name="FilterLoopingPlaylists" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepStreamOrder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterShortPlaylists" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterShortPlaylistsValue" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="EnableSSIF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToolsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DemuxLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="Lastx264Ver" serializeAs="String">
                <value />
            </setting>
            <setting name="LastffmpegVer" serializeAs="String">
                <value />
            </setting>
            <setting name="Lasteac3toVer" serializeAs="String">
                <value />
            </setting>
            <setting name="LastlsdvdVer" serializeAs="String">
                <value />
            </setting>
            <setting name="x264WithLavf" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="x264WithGpac" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="x264WithAVS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastMKVMergeVer" serializeAs="String">
                <value />
            </setting>
            <setting name="LastMplayerVer" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTSMuxerVer" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tsMuxeRUseAsyncIO" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tsMuxeRBlurayAudioPES" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tsMuxerSubtitleAdditionalBorder" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="tsMuxeRBottomOffset" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="tsMuxeRVideoTimingInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tsMuxeRAddVideoPPS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteCompletedJobs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProcessPriority" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LastMJPEGtoolsVer" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDVDAuthorVer" serializeAs="String">
                <value />
            </setting>
            <setting name="DeleteTemporaryFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastAviSynthVer" serializeAs="String">
                <value />
            </setting>
            <setting name="UseLanguage" serializeAs="String">
                <value>system</value>
            </setting>
            <setting name="LastMp4BoxVer" serializeAs="String">
                <value />
            </setting>
            <setting name="LastHcEncVer" serializeAs="String">
                <value />
            </setting>
            <setting name="tsMuxeRSubtitleFontSize" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="tsMuxeRSubtitleFont" serializeAs="String">
                <value>Verdana</value>
            </setting>
            <setting name="tsMuxeRSubtitleColor" serializeAs="String">
                <value>#00000000</value>
            </setting>
            <setting name="JavaInstallPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastBDSup2SubVer" serializeAs="String">
                <value />
            </setting>
            <setting name="UseHardwareRendering" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdaterVersion" serializeAs="String">
                <value>1.0.0.0</value>
            </setting>
            <setting name="LastSelectedProfile" serializeAs="String">
                <value />
            </setting>
            <setting name="UseAviSynthMT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastAviSynthPluginsVer" serializeAs="String">
                <value />
            </setting>
            <setting name="UseHQDeinterlace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastOggEncVer" serializeAs="String">
                <value />
            </setting>
            <setting name="LastLameVer" serializeAs="String">
                <value />
            </setting>
            <setting name="LastNeroAacEncVer" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateVersions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastVpxEncVer" serializeAs="String">
                <value />
            </setting>
            <setting name="LastProfilesVer" serializeAs="String">
                <value />
            </setting>
            <setting name="Lastx264_64Ver" serializeAs="String">
                <value />
            </setting>
            <setting name="Use64bitEncoders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateFrequency" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastUpdateRun" serializeAs="String">
                <value>2012-12-25</value>
            </setting>
            <setting name="ShowChangeLog" serializeAs="String">
                <value>True</value>
            </setting>
        </VideoConvert.Properties.Settings>
    </userSettings>
</configuration>
